/* Featurettes
------------------------- */

.featurette-divider {
  margin: 40px 0; /* Space out the Bootstrap <hr> more */
}
.featurette {
  padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
  overflow: hidden; /* Vertically center images part 2: clear their floats. */
}
.featurette-image {
  margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
}

/* Give some space on the sides of the floated elements so text doesn't run right into it. */
.featurette-image.pull-left {
  margin-right: 40px;
}
.featurette-image.pull-right {
  margin-left: 40px;
}

/* Thin out the featurette headings */
.featurette-heading {
  font-size: 30px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.blog-landing-container {
    margin-top: 20px;
}

.blog-landing-link {
    color: #fff;
    font-weight: bold;
}

.section-top-padding {
    padding: 20px 0px 0px 0px;
}

.article-top-padding {
    padding: 50px 0px 0px 0px;
}

@media (min-width:768px) {
    .article-top-padding {
        padding: 120px 0px 0px 0px;
    }
}

.blog {
    background-image: url(../../images/header-bg-blog.jpg);
}
